### 1. Import The Libraries And Dataset

In [1]:
import pandas as pd

In [2]:
heart_data =pd.read_csv("heart.csv")
heart_data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

### 2. Display Top 5 Rows of The Dataset

In [3]:
heart_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

### 3. Check The Last 5 Rows of The Dataset

In [4]:
heart_data.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

### 4. Find Shape of Our Dataset (Number of Rows And Number of Columns)

In [9]:
heart_data.shape

(1025, 14)

### 5. Get Information About Our Dataset Like Total Number Rows, Total Number of Columns, Datatypes of Each Column And Memory Requirement

In [5]:
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

### 6. Check Null Values In The Dataset

In [10]:
heart_data.dropna(inplace=True)

### 7. Check For Duplicate Data and Drop Them

In [11]:
print(heart_data.duplicated())

0       False
1       False
2       False
3       False
4       False
        ...
1020     True
1021     True
1022     True
1023     True
1024     True
Length: 1025, dtype: bool

In [12]:
heart_data.drop_duplicates(inplace = True)

### 8. Get Overall Statistics About The Dataset

In [18]:
heart_data.mean().round(2)

age          54.42
sex           0.68
cp            0.96
trestbps    131.60
chol        246.50
fbs           0.15
restecg       0.53
thalach     149.57
exang         0.33
oldpeak       1.04
slope         1.40
ca            0.72
thal          2.31
target        0.54
dtype: float64

In [17]:
heart_data.median().round(2)

age          55.5
sex           1.0
cp            1.0
trestbps    130.0
chol        240.5
fbs           0.0
restecg       1.0
thalach     152.5
exang         0.0
oldpeak       0.8
slope         1.0
ca            0.0
thal          2.0
target        1.0
dtype: float64

In [19]:
heart_data.std().round(2)

age          9.05
sex          0.47
cp           1.03
trestbps    17.56
chol        51.75
fbs          0.36
restecg      0.53
thalach     22.90
exang        0.47
oldpeak      1.16
slope        0.62
ca           1.01
thal         0.61
target       0.50
dtype: float64

In [20]:
heart_data.min().round(2)

age          29.0
sex           0.0
cp            0.0
trestbps     94.0
chol        126.0
fbs           0.0
restecg       0.0
thalach      71.0
exang         0.0
oldpeak       0.0
slope         0.0
ca            0.0
thal          0.0
target        0.0
dtype: float64

In [21]:
heart_data.max().round(2)

age          77.0
sex           1.0
cp            3.0
trestbps    200.0
chol        564.0
fbs           1.0
restecg       2.0
thalach     202.0
exang         1.0
oldpeak       6.2
slope         2.0
ca            4.0
thal          3.0
target        1.0
dtype: float64

In [22]:
heart_data.var().round(2)

age           81.87
sex            0.22
cp             1.07
trestbps     308.47
chol        2678.42
fbs            0.13
restecg        0.28
thalach      524.57
exang          0.22
oldpeak        1.35
slope          0.38
ca             1.01
thal           0.38
target         0.25
dtype: float64

### 11. Find Count of  Male & Female in this Dataset

In [24]:
heart_data["sex"].value_counts()

1    206
0     96
Name: sex, dtype: int64